{{> head}}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Matriz evaluación de riesgos</h1>
    </div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, voluptas commodi! Maxime at dignissimos libero, velit vitae, vel aliquid repellat laboriosam nostrum minus perspiciatis dicta quis unde officia, aperiam ipsum!
    </p>

     <div class="col-4">
        <img src="assets/img/ejercicio-evaluacion-de-riesgos.png" class="img-thumbnail">
    </div>


</div>


{{> footer}}